
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="zxx">

<head>

    <!--/Style-CSS -->
    <link rel="stylesheet" href="/Templates/Report-Login-Free/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <link rel="stylesheet" href="/Templates/Report-Login-Free/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Blog Yazar Girişi</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        @using (Html.BeginForm("AuthorLogin", "Login", FormMethod.Post))
                        {

                            <input type="text" class="text" name="Mail" placeholder="Email" required="" autofocus>
                            <input type="password" class="password" name="Password" placeholder="Password" required="" autofocus>
                            <button class="btn btn-primary" type="submit">Log In</button>
                        }

                        <p class="account">Don't remember your <a href="#signup"> password?</a></p>
                        <p class="account">Admin <a href="/Login/AdminLogin">Log In</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="~/Templates/Report-Login-Free/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">
                © 2021 Report Login Form. All rights reserved | Design by <a href="https://w3layouts.com">W3layouts</a>
            </p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>