@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewBag.Title = "GetCommentByBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bloğa Ait Yorumlar</h2>


<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <!-- The time line -->
                            <div class="timeline">
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-gradient-success">@item.CommentDate.ToString("dd-MMM-yyyy")</span>
                                </div>
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header"><a href="#">@item.UserName</a> @item.Mail</h3>
                                        <div class="timeline-body">
                                            @item.CommentText
                                        </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <!-- Timelime example  -->
            </div>
            <!-- /.timeline -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>
